/*body,
 table,
    thead,
    tr,
    tbody,
    th,
    td {
        text-align: center;
    }*/

body {
    text-align: center !important;
}

p {
    margin-top: 20px;
    font-size: 30px;
}

input {
    text-align: center;
}

.mssg {
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
}

.abc a {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}